.band-event {
    display: flex;
    flex-direction: column;
    align-items: start;
    background: none;
    padding: 20px;
    border-left: 2px solid;
    margin-bottom: 40px;
    min-width: 250px;
}

.band-event .past {
    font-family: 'Helvetica', sans-serif;
    font-size: 1em;
}

.band-event .event-date,
.band-event .event-name {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.2em #1da9cc;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
}

.band-event .event-time,
.band-event .event-location {
    font-family: 'Helvetica', sans-serif;
    font-size: 1em;
}