#glitch {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    margin: 10px 0px;
}
#glitch video {
    max-width: 100%;
    height: auto;
}

#glitchlinktree {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#glitchlinktree video {
    width:300px;
    height: auto;
}