.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}
.social-link img {
    width: 40px; /* Set the width of the image */
    background: white;
    border-radius: 100%;
    padding: 1px;
}

.social-link img:hover,
.social-link img:focus {
    background: gray;
}
