body {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}

a {
    color: white;
}

a:hover {
    color: lightgray;
}

h2 {
    text-decoration: underline;
}

.black {
    background-color: black;
    color: white;
}
.red {
    background: red;
}
.cgray {
    color: gray;
}
.cwhite {
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0px;
    line-height: 1.6;
}

.bgimage {
    background-image: url('../images/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
}

#copy {
    color: red;
}