body {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: white;
}

a {
    color: white;
}

a:hover {
    color: lightgray;
}

h1 {
    letter-spacing: 10px;
}

h2 {
    text-decoration: underline;
}

.black {
    background-color: black;
}

.red {
    background-color: darkred;
}

.blue {
    background-color: SteelBlue;
}

.cgray {
    color: gray;
}

.content {
    padding: 50px;
    line-height: 1.6;
}

#glitch {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    margin-top: -30vh;
}

#glitch video {
    max-width: 100%;
    height: auto;
}

.band-event {
    padding: 20px;
    border-left: 2px solid;
    margin-bottom: 40px;
}

.band-event .event-date {
    font-family: 'Arial Black', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

.band-event .event-time {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
}

.band-event .event-name {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.band-event .event-location {
    font-family: 'Helvetica', sans-serif;
    font-size: 1em;
}

hr {
    color: white;
    background: white;
    width: 50%;
    text-align: left;
    float: left;
}

.countdown {
    color: black;
}

.countdown-item {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: center;
}

.countdown-number {
    font-weight: bold;
}

.countdown-label {
    font-size: 0.9em;
    color: lightgrey;
}

.social-links a {
    display: inline-flex;
    align-items: center; /* Vertically center the content */
    text-decoration: none;
}

.social-links a img {
    width: 30px; /* Set the width of the image */
    margin-right: 10px; /* Add some spacing between the image and text */
    background-color: white;
    border-radius: 100%;
    padding: 1px;
}

#copy {
    color: red;
}